# dependencies
node_modules/
cypress/screenshots/

# testing
/coverage

# production
/build
cypress/videos/
cypress/videos
node_modules/
npm-debug.log
test-results/
cypress/e2e
cypress/testData
cypress/reports
allure-report
allure-results