integration-tests/screenshots/
integration-tests/videos/
integration-tests/videos
integration-tests/node_modules/
npm-debug.log
integration-tests/testData
integration-tests/reports
allure-report
allure-results